.media {
    display:grid;
    flex-flow: column;
}
.card {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5em;
    background-color:#8D7966;
    margin:45px auto;
    width:50%;
    gap:20px 30px;
}
.image {
    /* display: inline-block; */
    width: 100px;
    height:100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.info {
    width: 60%;
}
.name {
    font-size: large;
    color: #ffffff;
    font-weight: 500;
    line-height: 150%; 
}
.text {
    font-size: medium;
    color: #ffffff;
    font-weight: 400;
    line-height: 150%; 
}